.Button {
  margin 0 10px
  padding 10px 30px

  cursor pointer
  color $green
  background-color $blueBlack
  text-decoration none
  user-select none

  &.active {
    text-decoration underline
  }

  &:hover {
    background-color lighten($blueBlack, 5%)
    color lighten($green, 5%)
  }
}
