// external stylesheets
@import '~bootstrap/dist/css/bootstrap.min.css'

// page styles
@import './Global/*'
@import './Elements/*'


html {
  background-color $blueBlack

  h1, h2 {
    font-weight normal
    color $blueBlack
  }

  ul {
    list-style-type none
    padding 0
  }

  li {
    display inline-block
    margin 0 10px
  }

  a {
    color $green
  }
}

// reset some bootstrap
*:focus {
  outline none!important
  box-shadow none!important
}

a:not([href]):not([tabindex]) {
  color $green
  cursor pointer

  &:hover {
    text-decoration underline
  }
}

// VueSweetalert2 styling
.swal2-confirm {
  background-color #3085d6!important
}

.swal2-cancel {
  background-color #d33!important
}
